/* #region FONTS */
@font-face {
    font-family: "RFDewi";
    src: local("RFDewi-Regular"),
      url("../fonts/RFDewi-Regular.woff2") format("woff2"),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("../fonts/RFDewi-Regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }  
  
  @font-face {
    font-family: "RFDewi";
    src: local("RFDewi-Semibold"),
      url("../fonts/RFDewi-Semibold.woff2") format("woff2"),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("../fonts/RFDewi-Semibold.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
  
  @font-face {
    font-family: "RFDewi";
    src: local("RFDewi-Bold"),
      url("../fonts/RFDewi-Bold.woff2") format("woff2"),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/RFDewi-Bold.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
      font-weight: 700;
      font-style: normal;
      font-display: swap;
}



    
@font-face {
    font-family: "RFDewiExpanded";
    src: local("RFDewiExpanded-Regular"),
      url("../fonts/RFDewiExpanded-Regular.woff2") format("woff2"),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("../fonts/RFDewiExpanded-Regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }  
  
  @font-face {
    font-family: "RFDewiExpanded";
    src: local("RFDewiExpanded-Semibold"),
      url("../fonts/RFDewiExpanded-Semibold.woff2") format("woff2"),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("../fonts/RFDewiExpanded-Semibold.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
  
  @font-face {
    font-family: "RFDewiExpanded";
    src: local("RFDewiExpanded-Bold"),
      url("../fonts/RFDewiExpanded-Bold.woff2") format("woff2"),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/RFDewiExpanded-Bold.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
      font-weight: 700;
      font-style: normal;
      font-display: swap;
}
  
  /* #endregion FONTS */




:root {
    --Dark-Grey: #5D5D5D;
    --Light-black: #161515;
    --Red: #E63E35;
    --White: #FFF;
    --Black: #000000;
    --Background: #161515;
    --Grey: #B8B8B8;


}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

p {
    margin: 0;
    padding: 0;
}


.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

a {
    color: var(--color-000000);
    text-decoration: none;
}

body {
    font-family: "RFDewi", sans-serif;
    /* font-weight: 400; */
    /* font-size: 16px; */
    /* line-height: 32px; */
    /* color: var(--color-000000); */
    /* background-color: #e9e0e0; */
}

.btn-reset {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.flex {
    display: flex;
}

.section {
    /* max-width: 390px; */
    margin: 0 auto;
}

.container {
    padding: 0 16px;
    /* max-width: 390px; */
    width: 100%;
    margin: 0 auto;
    /* margin-bottom: 10px; */
}

.section-title {
    margin: 0;
    /* margin-bottom: 20px;
    font-weight: 400;
    font-size: 48px;
    line-height: 59px; */
}

.section-text {
    margin: 0;
}

.btn-burger {
    position: relative;
    display: block;
    width: 30px;
    height: 30px;
}

.nav__link {
    /* transition: outline 0.3s ease-in-out */
}

.nav__link:hover {
    /* background-color: var(--White); */
    outline: 2px solid var(--White);
    /* outline-color: var(--White); */
    outline-offset: 10px;

}

.btn-call:hover {
    background-color: var(--Black);
    color: var(--White);
    transition: all 0.3s ease-in-out
}

/* .burger:focus-visible {
    outline: none;
    outline-offset: 3px;
    outline: 2px solid #ff9900;
}

.burger:active {
    outline: none;
}

.burger:active .burger__line {
    outline: none;
    background-color: var(--color-FF9900);
} */

.burger__line {
    position: absolute;
    left: 50%;
    width: 18px;
    height: 2px;
    border-radius: inherit;
    background-color: var(--Black);
    transform: translateX(-50%);
}

.burger__line:first-child {
    top: 8px;
}

.burger__line:last-child {
    bottom: 8px;
}

.burger__line:nth-child(2) {
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

/* .burger--active {
    outline: none !important;
    z-index: 100;
}

.burger--active .burger__line:nth-child(2) {
    opacity: 0;
}

.burger--active .burger__line:first-child {
    left: 0;
    top: 50%;
    transform: rotate(45deg);
    transform-origin: center;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, left 0.3s ease-in-out;
}

.burger--active .burger__line:last-child {
    bottom: auto;
    left: 0;
    top: 50%;
    transform: rotate(-45deg);
    transform-origin: center;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, left 0.3s ease-in-out;
} */

.header__phone {
    display: none;
}
.header__desc {
    display: none;
}

.btn-phone {
    width: 34px;
}

.header__wraper-rigth {
    display: flex;
}

.heder__top {
    padding: 8px 0 0;
    min-height: 50px;
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
    background-color: var(--White);

}

.header__btn {
    cursor: pointer;
}

.header__title {
    display: none;
    margin-right: 10px;
    color: #2C2B2E;
    font-family: RFDewiExpanded;
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: 120%;
    text-transform: uppercase;
}

.header__nav {
    /* padding-left: 20%; */
    /* display: flex; */
    display: none;
    /* width: 708px; */
    min-height: 68px;
    color: #FFF;
    /* background-color: var(--Dark-Grey); */
    text-transform: uppercase;
    /* align-items: flex-end; */
    justify-content: end;
}

.header__wraper-left {
    display: flex;
}

.nav__list {
    display: flex;
    max-width: 800px;
    justify-content: space-between;
    /* flex-direction: column; */
    /* align-items: flex-end; */
}

.nav__item {
    margin-right: 10px;
    padding-top: 26px;
    /* vertical-align: middle; */
    color: var(--Grey);
    font-family: RFDewi;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    text-transform: uppercase;
    /* flex-wrap: nowrap; */
    /* align-items: center;     */
}

.nav__item:last-child {
    margin-right: 160px;
}

.header__logo {
    display: block;
}

.header__logo-img {
    width: 34px;
    /* height: 34px; */
}

.header__logo,
.btn-call,
.btn-phone {
    margin-right: 16px;
}

.btn-burger,
.btn-call,
.btn-phone {
    padding: 0;
    background-color: var(--White);
    min-width: 34px;
    border: 2px solid var(--Black);
}

.btn-phone {
    /* width: 200px; */
    border-color: var(--Red);
}

.btn-call {
    width: 160px;
    font-size: 15px;
    margin-right: 16px;
}

.btn-burger {
    border-color: var(--Grey);

}

.header__btn {
    padding-top: 6px;
    height: 34px;
    text-transform: uppercase;
    justify-content: center;
    text-align:center;

}

.header__left {
    justify-content: space-between;
}

.header__container_black {
    background-color: #000000;
}


.main__contacts {
    min-height: 470px;
}

.contacts {
    /* padding-top: 14px; */
    background-color: var(--Light-black);
}

.contacts__text {
    color: var(--White, #FFF);
    font-family: RFDewi;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.contacts__text_red {
    color: var(--Red);
}

.contacts__container {
    max-width: 600px;
    position: sticky;
    top: 158px;
}

.contacts__subtitle {
    margin-bottom: 9px;
    color: var(--Dark-Grey, #5D5D5D);
    font-family: RFDewiExpanded;
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: 120%;
}

.contacts__title {
    margin-bottom: 40px;
    color: var(--Light-Gray, #FBFBFB);
    font-family: RFDewiExpanded;
    font-size: 34px;
    font-style: normal;
    font-weight: 800;
    line-height: 120%;
    text-transform: uppercase;
}

.contacts__address {
    margin-bottom: 6px;
}

.contacts__icons {
    margin-bottom: 6px;
    width: 57px;
    justify-content: space-between;
}


.main__people {
    background-color: var(--White);

}
.people {
    padding-top: 14px;
}

.cards__title {
    margin-bottom: 14px;
    color: var(--Light-black, #161515);
    font-family: RFDewiExpanded;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 150%;
    text-transform: uppercase;
}
.cards__item {
    margin-bottom: 13px;
}

.cards__item:nth-child(2n+2) {
    margin-bottom: 28px;
}
.card {
    display: flex;
}

.card__desc {
    padding-top: 67px;
}

.card__img {
    margin-right: 32px;
}

.card__name {
    padding: 0;
    margin: 0;
    color: var(--Black);
    font-family: RFDewiExpanded;
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: 120%;
}

.card__post {
    padding: 0;
    margin: 0;
    color: var(--Red);
    font-family: RFDewi;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.people__office {
margin-bottom: 30px;
}

.people__container {
    margin-bottom: 121px;
}


.about-us__desc {
    margin-bottom: 18px;
    color: var(--Dark-Grey);
    font-family: RFDewi;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.about-us__desc_2 {
    margin-bottom: 23px;

}

.about-us__title {
    margin: 0;
    padding: 0;
    margin-bottom: 15px;
}

.main__bottom {
    margin-bottom: 88px;
}

.form__list {
    flex-direction: column;
}

.form__fieldset {
    border: none;
    padding: 0;
    padding-top: 13px;
    margin: 0;
}

.form__title {
    margin-bottom: 16px;
    color: var(--White);
    font-family: RFDewiExpanded;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 150%;
    text-transform: uppercase;
}

.form__desc {
    margin-bottom: 22px;
    color: var(--White, #FFF);
    font-family: RFDewi;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.form__input {
    margin-bottom: 10px;
    padding-left: 15px;
    display: flex;
    min-height: 39px;
    width: 100%;
    /* padding-left: 0px;
    align-items: center;
    align-self: stretch;     */
}

.form__input--text {
    padding-top: 10px;
}

.form__btn {
    margin-bottom: 25px;
    display: flex;
    height: 36px;
    width: 358px;
    /* text-align: center; */
    /* padding: 10px 8px; */
    justify-content: center;
    /* align-items: center; */
    background: var(--Grey);

    color: var(--White);
    font-family: RFDewi;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    text-transform: uppercase;
}

.form__list {
    margin-bottom: 12px;
}

.form__agree {
    padding-right: 5px;
    color: var(--Dark-Grey);
    font-family: RFDewi;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16.8px;
    letter-spacing: 0.1px;
}

/* .form__item {
    padding-top: 10px;
    padding-left: 10px;
} */

.form__agree_red {
    color: var(--Red);
    text-decoration: underline;
}

.footer-rigth {
    padding-top: 61px;
    padding-bottom: 47px;
    flex-direction: column;
}

.footer-rigth__tel,
.footer-rigth__mail,
.footer-rigth__address {
    margin-bottom: 14px;
    color: var(--Red);
    text-align: right;
    font-family: RFDewi;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    
}

.footer-rigth__tel,
.footer-rigth__mail {
    color: var(--Red);
}

.footer-rigth__address {
    color: var(--Dark-Grey);
}


.footer__container {    
    position: relative;
    background-color: var(--Light-black);  
    /* background-image: url(../img/logo.svg);
    background-repeat: no-repeat;
    background-size: 1254px 1000px;
    background-position: bottom 0px right 176px;
    transform: rotate(30deg); */
} 

/* .footer__img {
    position: absolute;
    width: 1000px;
    height: 1000px;
    background-image: url(../img/logo.svg);
    background-repeat: no-repeat;
    background-size: 254px 200px;
    background-position: bottom 0px right 0px;
    transform: rotate(30deg);
} */


@media (min-width: 768px) {
    .btn-burger {
        display: none;
    }

    .header__nav {
        padding-left: 39%;
        display: block;
        /* align-items: end; */
    }

    .container {
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media (min-width: 1280px) {
    .header {
        position: sticky;
        top: 0px;
        z-index: 1000;
    }

    .footer__container {
        display: flex;
        justify-content: space-between;
        min-height: 517px;
    }

    .main__top {
        display: flex;
    }

    .container {
        padding-left: 100px;
        padding-right: 100px;
    }
}

@media (min-width: 1440px) {
    .container {
        padding-top: 68px;
        padding-left: 160px;
        padding-right: 160px;
    }

    .footer__container {
        padding-top: 68px;
    }
    .header__container {
        padding-top: 0px;
        height: 80px;
        background-color: var(--White);
    }

    .header__container_black {
        padding-top: 0;
        height: 68px;
        background-color: var(--Black);

    }

    .header__logo-img {
        width: 50px;
    }

    .header__title {
        display: inline-block;

    }

    .header__phone {
        display: block;
        color: var(--Red);
        text-align: right;
        font-family: RFDewiExpanded;
        font-size: 24px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        letter-spacing: 0.036px;
    }

    .header__desc {
        display: block;
        height: 50px;
        color: var(--Black);
        text-align: right;
        font-family: RFDewi;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .header__btn {
        padding-top: 15px;
        width: 198px;
        height: 50px;
        color: var(--Black, #000);
        /* font-family: RFDewi; */
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 100%; /* 16px */
        text-transform: uppercase;
    }
    .btn-phone {
        display: none;
    }

    .header__title {
        /* display: inline-block;
        width: 40px; */
        /* padding-top: 5px; */
        /* padding-left: 5px; */
        /* margin-right: 50px; */
        padding: 5px;
    }

    .header__wraper {

    }

    .header__left {
        width: 100%;
        /* flex-direction: row;
        justify-content: space-between; */
    }

    .header__wraper-rigth {
        display: flex;
    }

    .hader__phone-block {
        flex-direction: column;
    }

    .header__btn {
        margin-right: 40px;
    }

    .cards {
        /* max-width: 100px; */
        display: flex;
        flex-wrap: wrap;
        /* justify-content: space-between; */
    }

    .card {
        max-width: 430px;
        margin-right: 10px;
        /* display: flex; */
        /* flex-wrap: wrap; */
        /* justify-content: space-between; */
    }

    .card:nth-child(2n+1) {
        margin-right: 17px
    }

    .card__desc {
        width: 220px;
    }

    .cards__title {
        margin-bottom: 29px;
    }

    .people__container {
        /* width: 1200px; */
        padding-top: 31px;
        padding-left: 40px;
        padding-right: 80px;
    }

    .people__office {
        /* width: 1200px; */

    }
    .contacts__container {
        /* max-width: 650px; */
        width: 600px;
    }

    .main__top {
        /* max-height: 975px;
        overflow: hidden; */
    }

    .contacts__title {
        padding: 0;
        margin: 0;
        color: #FBFBFB;
        font-family: RFDewiExpanded;
        font-size: 48px;
        font-style: normal;
        font-weight: 800;
        line-height: 120%;
        text-transform: uppercase;
    }

    .contacts__container {
        padding-top: 50px;
    }
}